<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" id="camera-css" href="/css/camera.css" type="text/css" media="all">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/skins/tango/skin.css" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="/js/jquery1.8.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="/js/camera.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/superfish.js"></script>
    <script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/js/jquery.jcarousel.js"></script>
    <script type="text/javascript" src="/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="/js/myscript.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {

            @{
                var cName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
            }
            //$("#nav_a_home").addClass("current");
        });

    </script>
    @RenderSection("head", false)
</head>

<body>
    @Html.Partial("head")
    @RenderBody()
    @Html.Partial("footer")
</body>
</html>
